:root {
    --neu-primary: #0D6EFD;
    --neu-bg-color: #EBECF0;
    --neu-gray: #AAAAAA;
    --neu-blue: #61677C;
    --neu-shadow: #BABECC;
    --neu-white: #FFFFFF;
}

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #EBECF0;
}

.neu-back {
    background: #EBECF0;
}

.neu-shadow-out {
    background: #EBECF0;
    box-shadow: -2px -2px 2px #FFFFFF,
                2px 2px 2px #BABECC;
}

.neu-shadow-in {
    background: #EBECF0;
    box-shadow: inset 2px 2px 2px #BABECC,
                inset -2px -2px 2px #FFFFFF;
}

a.neu {
    color: #AAAAAA;
    font-size: 12px;
    text-decoration: underline;
}

label.neu {
    color: gray;
}

div.neu-info, span.neu-info, i.neu-info {
    text-align: center;
    color:#AAAAAA;
    font-size: 12px;
}

div.neu-info {
    padding-top: 20px;
}

input.neu,
button.neu,
select.neu,
div.neu,
textarea.neu {
    border: 0;
    outline: 0;
    border-radius: 1.5rem;
    padding: 1rem;
    background: #EBECF0;
}

input.neu,
select.neu,
button.neu {
    font-size: 1rem;
    text-shadow: 1px 1px 0 #FFFFFF;
}

button.neu {
    cursor: pointer;
    color: #61677C;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: -2px -2px 2px #FFFFFF,
                2px 2px 2px #BABECC;
}

button.neu:hover {
    box-shadow: -1px -1px 2px #FFFFFF,
                1px 1px 2px #BABECC;
}

button.neu:active {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

button.neu:disabled {
    color: dimgray;
    box-shadow: none;
}

button.neu.primary {
    color: #0D6EFD;
    text-shadow: none;
}

button.neu.primary:disabled {
    color: dimgray;
}

button.neu.small {
    font-size: .7rem;
    padding: .5rem 1rem;
    text-shadow: none;
    min-width: 5rem;
    margin: 0 .3rem;
}

button.neu.round {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
}

button.neu.round-small {
    padding: .5rem;
    font-size: .7rem;
    width: 2.2rem;
    height: 2.2rem;
    vertical-align: middle;
    box-shadow: -1px -1px 2px #FFFFFF,
                1px 1px 2px #BABECC;
}

input.neu,
select.neu,
textarea.neu {
    width: 100%;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 2px 2px 2px #BABECC,
                inset -2px -2px 2px #FFFFFF;
}

input.neu:focus,
select.neu:focus,
textarea.neu:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

input.neu:read-only:focus,
select.neu:read-only:focus,
textarea.neu:read-only:focus {
    box-shadow: inset 2px 2px 2px #BABECC,
                inset -2px -2px 2px #FFFFFF;
}

input.neu.neu-error,
select.neu.neu-error,
textarea.neu.neu-error {
    border: 2px solid rgb(179, 0, 0);
}

input.neu.medium,
textarea.neu.medium {
    font-size: .8rem;
    padding: .7rem 1rem;
}

input.neu.small {
    margin-bottom: 0;
    font-size: small;
    padding: .5rem 1rem;
}

div.neu.text-display {
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

.neu-icon-circle {
    background: #EBECF0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

label.neu {
    display: inline-block;
    cursor: pointer;
    padding: .56rem 0;
}

div.neu-line {
    width: 95%;
    height: 10px;
    margin: 2rem auto;
    border-radius: 1.5rem;
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

input[type=checkbox].neu {
    border-radius: 25%;
    font-size: 1rem;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 .3rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2),
                    -2px -2px 3px white,
                    inset 1px 1px 2px rgba(0, 0, 0, 0.2),
                    inset -1px -1px 2px white;
    border: .15rem solid #f2f3f7;
    vertical-align: middle;
    
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-touch-callout: none;
    letter-spacing: 0;
    overflow: inherit;

    background-color: initial;
}

input[type=checkbox].neu:checked {
    box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7),
                inset 0 -0.1em 0 rgba(0, 0, 0, 0.2),
                inset 0 0.1em 0.1em rgba(255, 255, 255, 0.2);
    border-width: .1rem;
    border-color: #0D6EFD;
    background-color: #0D6EFD;
}

/* theme="light" */
:root[theme="light"] {
    --neu-primary: #0D6EFD;
    --neu-bg-color: #EBECF0;
    --neu-gray: #AAAAAA;
    --neu-blue: #61677C;
    --neu-shadow: #BABECC;
    --neu-white: #FFFFFF;
}

html[theme="light"],
body[theme="light"] {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #EBECF0;
}

.neu-back[theme="light"] {
    background: #EBECF0;
}

.neu-shadow-out[theme="light"] {
    background: #EBECF0;
    box-shadow: -2px -2px 2px #FFFFFF,
                2px 2px 2px #BABECC;
}

.neu-shadow-in[theme="light"] {
    background: #EBECF0;
    box-shadow: inset 2px 2px 2px #BABECC,
                inset -2px -2px 2px #FFFFFF;
}

a.neu[theme="light"] {
    color: #AAAAAA;
    font-size: 12px;
    text-decoration: underline;
}

label.neu[theme="light"] {
    color: gray;
}

div.neu-info[theme="light"],
span.neu-info[theme="light"],
i.neu-info[theme="light"] {
    text-align: center;
    color:#AAAAAA;
    font-size: 12px;
}

div.neu-info[theme="light"] {
    padding-top: 20px;
}

input.neu[theme="light"],
button.neu[theme="light"],
select.neu[theme="light"],
div.neu[theme="light"],
textarea.neu[theme="light"] {
    border: 0;
    outline: 0;
    border-radius: 1.5rem;
    padding: 1rem;
    background: #EBECF0;
}

input.neu[theme="light"],
select.neu[theme="light"],
button.neu[theme="light"] {
    font-size: 1rem;
    text-shadow: 1px 1px 0 #FFFFFF;
}

button.neu[theme="light"] {
    cursor: pointer;
    color: #61677C;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: -2px -2px 2px #FFFFFF,
                2px 2px 2px #BABECC;
}

button.neu:hover[theme="light"] {
    box-shadow: -1px -1px 2px #FFFFFF,
                1px 1px 2px #BABECC;
}

button.neu:active[theme="light"] {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

button.neu:disabled[theme="light"] {
    color: dimgray;
    box-shadow: none;
}

button.neu.primary[theme="light"] {
    color: #0D6EFD;
    text-shadow: none;
}

button.neu.primary:disabled[theme="light"] {
    color: dimgray;
}

button.neu.small[theme="light"] {
    font-size: .7rem;
    padding: .5rem 1rem;
    text-shadow: none;
    min-width: 5rem;
    margin: 0 .3rem;
}

button.neu.round[theme="light"] {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
}

button.neu.round-small[theme="light"] {
    padding: .5rem;
    font-size: .7rem;
    width: 2.2rem;
    height: 2.2rem;
    vertical-align: middle;
    box-shadow: -1px -1px 2px #FFFFFF,
                1px 1px 2px #BABECC;
}

input.neu[theme="light"],
select.neu[theme="light"],
textarea.neu[theme="light"] {
    width: 100%;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 2px 2px 2px #BABECC,
                inset -2px -2px 2px #FFFFFF;
}

input.neu:focus[theme="light"],
select.neu:focus[theme="light"],
textarea.neu:focus[theme="light"] {
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

input.neu:read-only:focus[theme="light"],
select.neu:read-only:focus[theme="light"],
textarea.neu:read-only:focus[theme="light"] {
    box-shadow: inset 2px 2px 2px #BABECC,
                inset -2px -2px 2px #FFFFFF;
}

input.neu.neu-error[theme="light"],
select.neu.neu-error[theme="light"],
textarea.neu.neu-error[theme="light"] {
    border: 2px solid rgb(179, 0, 0);
}

input.neu.medium[theme="light"],
textarea.neu.medium[theme="light"] {
    font-size: .8rem;
    padding: .7rem 1rem;
}

input.neu.small[theme="light"] {
    margin-bottom: 0;
    font-size: small;
    padding: .5rem 1rem;
}

div.neu.text-display[theme="light"] {
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

.neu-icon-circle[theme="light"] {
    background: #EBECF0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

label.neu[theme="light"] {
    display: inline-block;
    cursor: pointer;
    padding: .56rem 0;
}

div.neu-line[theme="light"] {
    width: 95%;
    height: 10px;
    margin: 2rem auto;
    border-radius: 1.5rem;
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #FFFFFF;
}

input[type=checkbox].neu[theme="light"] {
    border-radius: 25%;
    font-size: 1rem;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 .3rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2),
                    -2px -2px 3px white,
                    inset 1px 1px 2px rgba(0, 0, 0, 0.2),
                    inset -1px -1px 2px white;
    border: .15rem solid #f2f3f7;
    vertical-align: middle;
    
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-touch-callout: none;
    letter-spacing: 0;
    overflow: inherit;

    background-color: initial;
}

input[type=checkbox].neu:checked[theme="light"] {
    box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7),
                inset 0 -0.1em 0 rgba(0, 0, 0, 0.2),
                inset 0 0.1em 0.1em rgba(255, 255, 255, 0.2);
    border-width: .1rem;
    border-color: #0D6EFD;
    background-color: #0D6EFD;
}

/* theme="dark" */
:root[theme="dark"] {
    --neu-primary: #0D6EFD;
    --neu-bg-color: #424242;
    --neu-gray: #AAAAAA;
    --neu-blue: #61677C;
    --neu-shadow: #28282a;
    --neu-white: #505050;
}

html[theme="dark"],
body[theme="dark"] {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #424242;
}

.neu[theme="dark"] *,
.neu-back[theme="dark"] *,
.neu-shadow-out[theme="dark"] *,
.neu-shadow-in[theme="dark"] * {
    color: white;
}

.neu-back[theme="dark"] {
    background: #424242;
}

.neu-shadow-out[theme="dark"] {
    background: #424242;
    box-shadow: -2px -2px 2px #505050,
                2px 2px 2px #28282a;
}

.neu-shadow-in[theme="dark"] {
    background: #424242;
    box-shadow: inset 2px 2px 2px #28282a,
                inset -2px -2px 2px #505050;
}

a.neu[theme="dark"] {
    color: #AAAAAA;
    font-size: 12px;
    text-decoration: underline;
}

label.neu[theme="dark"] {
    color: #d3d3d3;
}

div.neu-info[theme="dark"],
span.neu-info[theme="dark"],
i.neu-info[theme="dark"] {
    text-align: center;
    color:#AAAAAA;
    font-size: 12px;
}

div.neu-info[theme="dark"] {
    padding-top: 20px;
}

input.neu[theme="dark"],
button.neu[theme="dark"],
select.neu[theme="dark"],
div.neu[theme="dark"],
textarea.neu[theme="dark"] {
    color: white;
    border: 0;
    outline: 0;
    border-radius: 1.5rem;
    padding: 1rem;
    background: #424242;
}

input.neu[theme="dark"],
select.neu[theme="dark"],
button.neu[theme="dark"] {
    font-size: 1rem;
    text-shadow: 1px 1px 0 #505050;
}

button.neu[theme="dark"] {
    cursor: pointer;
    color: lightgrey;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: -2px -2px 2px #505050,
                2px 2px 2px #28282a;
}

button.neu:hover[theme="dark"] {
    box-shadow: -1px -1px 2px #505050,
                1px 1px 2px #28282a;
}

button.neu:active[theme="dark"] {
    box-shadow: inset 1px 1px 2px #28282a,
                inset -1px -1px 2px #505050;
}

button.neu:disabled[theme="dark"] {
    color: dimgray;
    box-shadow: none;
}

button.neu.primary[theme="dark"] {
    color: #0D6EFD;
    text-shadow: none;
}

button.neu.primary:disabled[theme="dark"] {
    color: dimgray;
}

button.neu.small[theme="dark"] {
    font-size: .7rem;
    padding: .5rem 1rem;
    text-shadow: none;
    min-width: 5rem;
    margin: 0 .3rem;
}

button.neu.round[theme="dark"] {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-shadow: none;
    font-weight: normal;
    text-align: center;
}

button.neu.round-small[theme="dark"] {
    padding: .5rem;
    font-size: .7rem;
    width: 2.2rem;
    height: 2.2rem;
    vertical-align: middle;
    box-shadow: -1px -1px 2px #505050,
                1px 1px 2px #28282a;
}

input.neu[theme="dark"],
select.neu[theme="dark"],
textarea.neu[theme="dark"] {
    width: 100%;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 2px 2px 2px #28282a,
                inset -2px -2px 2px #505050;
}

input.neu:focus[theme="dark"],
select.neu:focus[theme="dark"],
textarea.neu:focus[theme="dark"] {
    box-shadow: inset 1px 1px 2px #28282a,
                inset -1px -1px 2px #505050;
}

input.neu:read-only:focus[theme="dark"],
select.neu:read-only:focus[theme="dark"],
textarea.neu:read-only:focus[theme="dark"] {
    box-shadow: inset 2px 2px 2px #28282a,
                inset -2px -2px 2px #505050;
}

input.neu.neu-error[theme="dark"],
select.neu.neu-error[theme="dark"],
textarea.neu.neu-error[theme="dark"] {
    border: 2px solid rgb(179, 0, 0);
}

input.neu.medium[theme="dark"],
textarea.neu.medium[theme="dark"] {
    font-size: .8rem;
    padding: .7rem 1rem;
}

input.neu.small[theme="dark"] {
    margin-bottom: 0;
    font-size: small;
    padding: .5rem 1rem;
}

div.neu.text-display[theme="dark"] {
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: inset 1px 1px 2px #28282a,
                inset -1px -1px 2px #505050;
}

.neu-icon-circle[theme="dark"] {
    background: #424242;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    box-shadow: inset 1px 1px 2px #28282a,
                inset -1px -1px 2px #505050;
}

label.neu[theme="dark"] {
    display: inline-block;
    cursor: pointer;
    padding: .56rem 0;
}

div.neu-line[theme="dark"] {
    width: 95%;
    height: 10px;
    margin: 2rem auto;
    border-radius: 1.5rem;
    box-shadow: inset 1px 1px 2px #28282a,
                inset -1px -1px 2px #505050;
}

input[type=checkbox].neu[theme="dark"] {
    border-radius: 25%;
    font-size: 1rem;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 .3rem;
    box-shadow: 2px 2px 3px rgba(40, 40, 42, 0.2),
                    -2px -2px 3px #505050,
                    inset 1px 1px 2px rgba(40, 40, 42, 0.2),
                    inset -1px -1px 2px #505050;
    border: .15rem solid #424242;
    vertical-align: middle;
    
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-touch-callout: none;
    letter-spacing: 0;
    overflow: inherit;

    background-color: initial;
}

input[type=checkbox].neu:checked[theme="dark"] {
    box-shadow: 0 0 0.5em rgba(54, 123, 240, 0.7),
                inset 0 -0.1em 0 rgba(0, 0, 0, 0.2),
                inset 0 0.1em 0.1em rgba(255, 255, 255, 0.2);
    border-width: .1rem;
    border-color: #0D6EFD;
    background-color: #0D6EFD;
}
